version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: syssentry_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always

  alerts:
    build:
      context: .
      dockerfile: Dockerfile.alerts
    container_name: syssentry_alerts
    env_file:
      - .env
    restart: always
